@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

/* --------Set custome font family-------- */
@font-face {
    font-family: 'CustomeHeading';
    src: url('../fonts/SFAtarianSystem.ttf') format('embedded-opentype'), /* Internet explorer */
         url('../fonts/SFAtarianSystem.ttf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/SFAtarianSystem.ttf') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/SFAtarianSystem.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/SFAtarianSystem.ttf') format('svg'); /* Legacy iOS */
}

/* --------Reset-------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* -------Whole Doc-------- */
body{
    background-color: #FA7A4F;
    display: flex;
    justify-content: center;
    padding: 30px;
}

/* ------Container------ */
.container{
    position: absolute;
    top: 10%;
    padding-bottom: 50px;
}

/* ----Heading---- */
.head{
    width: 100%;
    margin-bottom: 60px;
}

.head h2{
    text-align: center;
    font-size: 4rem;
    font-family: 'CustomeHeading', sans-serif;
}

/* ----Logo---- */
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 110px;
}
